*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.a-container{
    margin-left: 15px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.first-container a{
    color: blue;
    text-decoration: none;
}

.dropdown{
    border: none;
    outline: none;
    cursor: pointer;
}

.second-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.second-container a{
    color: black;
    text-decoration: none;
}

.list-container{
    display: flex;
    gap: 15px;
    align-items: center;
}

.list-container img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.list-container a{
    text-decoration: none;
}

.second-section{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px 20px;
}

.logo-container a{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1; 
}

.search-input{
    flex: 1;
    display: flex;
    align-items: center;
    border: 2px solid #222;
    border-radius: 30px;
    padding: 10px 15px;
}

.search-icon{
    margin-right: 8px;
    color: gray;
}

.search-input input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.search-category{
    border: none;
    font-size: 15px;
    cursor: pointer;
    
}
.search-btn{
    background: #0a66ff;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    cursor: pointer;
}
.search-btn:hover{
    background: #004ecc;
}

.category-bar{
    margin-top: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.category-bar a{
    color: gray;
    text-decoration: none;
    justify-content: space-between; 
    font-weight: bold;
}

.third-section {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;   
}

.third-section img {
      margin-top: 40px;
    width: 100%;      
    max-width: 100%;  
    height: 400px;    
    display: block;  
}

/* Fourth section */
.fourth-section{
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
    width: auto;
    height: 170px;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
}
.shopping{
    text-align: left;
    margin-left: 20px;
    margin-top: 45px;
}
#p1{
    font-size: 30px;
    font-weight: bold;
}
#p2{
    font-size: 15px;
    font-weight: lighter;
    font-style: italic;
}
.fourth-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.search-btn1{
   background: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 30px;
}
.search-btn1:hover{
    background:  lightblue;
}

.fifth-section{
    margin-top: 50px;
    
}
#p3{
    font-size: 30px;
    font-weight: bold;
}

/* fifth section */
.fifth-section{
    margin-top: 50px;
    margin-left: 20px;
    padding: 0 20px;
}

#p3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.fifth-section > div{
    display: flex;
    gap: 50px;
}
.fifth-section > div > div{
    text-align: center;
}
.fifth-section img{
    width: 150px;
    height: 150px;
    background: white;
}
.fifth-section a{
    display: block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
