* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0 40px;

}

/* logo */
.logo-container {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;
}

.logo-container a {
    text-decoration: none;
}




.form-container {
    display: flex;
    justify-content: center;
    margin-top: -50px;

}


.login-card {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;

}

.login-card h3 {
    color: #333;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.login-card label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 6px;
}

.login-card input[type="text"],
.login-card input[type="email"],
.login-card input[type="tel"],
.login-card input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
    background: #f9f9f9;
}



/* Gender radio row */
.gender-row {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 12px;
}

.radio-label {
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 6px;
}

.login-card button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #0077cc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 6px;
}

.login-card button:hover {
    background: #005fa3;
}

/* Links row */
.links {
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.register-links {
    justify-content: center;
    gap: 8px;
}

.links a {
    text-decoration: none;
    color: #0077cc;
}

.links a:hover {
    text-decoration: underline;
}